Button {
  padding: 10px 28px 10px 28px;
  color: var(--primary-color);
  border-style: none;
  background-color: rgb(104, 255, 96);
  border-radius: 8px;
}
.navbar {
  background-color: var(--bg-color);
  border-bottom: 0.4px solid rgb(73, 220, 0);
  z-index: 9999;
}
.wallet-button {
  position: absolute !important;
  right: 0 !important;
  top: 100 !important;
  padding: 10px 28px 10px 28px;
  background-color: #00ff1e;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 10px #37ff00, 0 0 20px #37ff00, 0 0 30px #37ff00, 0 0 40px #37ff00;
}
.Connect-Wallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

Button:hover {
  background-color: rgb(41, 195, 2);
  color: rgb(255, 255, 255);
}
