.staked-amount {
    width: 500px;
    background-color: rgb(145, 247, 131);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 28px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .reward-rate {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 28px;
    padding-right: 28px;
    background-color: rgb(145, 247, 131);
  }
  .earned-reward {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    padding-left: 28px;
    padding-right: 28px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgb(145, 247, 131);
  }
  
  .top-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--bg-color); */
    background-color: rgb(166, 243, 115);
    border-radius: 18px;
    padding-top: 10px;
    border: 2px solid rgb(166, 243, 115);
    position: relative;
    animation: pulsate 3s infinite;
  }
  
  @keyframes pulsate {
    0% {
      box-shadow: 0 0 20px #26ff00, 0 0 20px #84f974;
    }
    50% {
      box-shadow: 0 0 60px #26ff00, 0 0 60px #84f974;
    }
    100% {
      box-shadow: 0 0 10px #26ff00, 0 0 10px #84f974;
    }
  }